@model IEnumerable<Niculae_Ana_Maria_Proiect4.Models.View.ProiectViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descriere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataIncepere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFinalizare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumarSarcini)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerNume)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataIncepere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFinalizare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumarSarcini)
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ManagerNume)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProiectId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProiectId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProiectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
